.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table.trial-data {
  font-size: 1rem;
  padding: 3px;
  border-collapse: collapse;
  width: 75%;
  margin: 20px 0 20px 0;
}

td, th {
  vertical-align: top;
  text-align: left;
  padding: 4px;
  border: 0;
  margin: 0;
  border-bottom: solid 1px white;
}

th {
  background-color: gray;
}